@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&family=Slabo+27px&family=Zilla+Slab:ital,wght@0,500;0,700;1,600&display=swap");
/* scss stuff
--------------------------------------------- */
/* section nav
--------------------------------------------- */
.main.Gallery{
  padding: 10pt;
}

/* section stuff
--------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}


#gallery-featured .section-title {
  text-align: center;
  padding: 0 1em;
  line-height: 0.9;
  font-size: 50px;
  letter-spacing: 1.3px;
  font-weight: 500;
  color: #4a4e69;
  font-family: "Slabo 27px", serif;
  line-height: 0.9;
  font-size: 20px;
  letter-spacing: 1.3px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.9s cubic-bezier(0.13, 0.38, 0.45, 0.94);
}
#gallery-featured .section-title:hover {
  letter-spacing: 1.8px;
  filter: blur(1px);
}
#gallery-featured .container__card-wrapper {
  width: 93%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
#gallery-featured .container__card-wrapper .card {
  background-color: rgba(255, 255, 255, 0.829);
  height: 480px;
  width: 100%;
  border-radius: 2px;
  max-width: 20em;
  margin: 2em 0.7em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
  text-align: center;
  position: relative;
}
#gallery-featured .container__card-wrapper .card:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
#gallery-featured .container__card-wrapper .card .img {
  height: 370px;
  background-repeat: no-repeat;
  background-position: center center;
}
#gallery-featured .container__card-wrapper .card .img.a {
  background-image: url(https://scontent.fluh1-2.fna.fbcdn.net/v/t1.6435-9/143226393_3402013383238690_5695730334910574454_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=7NjGNAgAzM0AX8GFhqF&_nc_ht=scontent.fluh1-2.fna&oh=00_AT8ObzLVGs0mTk4h7yIpt97QQBD1tFdEa8r9-39Llv7pfg&oe=6344FC9B);
  background-size: cover;
}
#gallery-featured .container__card-wrapper .card .img.b {
  background-image: url(https://scontent.fluh1-2.fna.fbcdn.net/v/t1.6435-9/142845229_3401917856581576_5020706721715684336_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=u97DEUNjsGcAX9vJS-x&_nc_ht=scontent.fluh1-2.fna&oh=00_AT-TPK6I0LhNp7wsORIdDBAJuxvr5G6fYdeQltEp5IUX2Q&oe=6342B83A);
  background-size: cover;
}
#gallery-featured .container__card-wrapper .card .img.c {
  background-image: url(https://scontent.fluh1-1.fna.fbcdn.net/v/t1.6435-9/119888911_3056025604504138_7480770435050211139_n.jpg?stp=cp0_dst-jpg_e15_p320x320_q65&_nc_cat=109&ccb=1-7&_nc_sid=8024bb&_nc_ohc=np7dQIJsp4kAX9lFktl&_nc_ht=scontent.fluh1-1.fna&oh=00_AT_fxBnCZMtInzhjNQG1z6sDP77SQbBNr4JfvKgdoM6h-A&oe=6342167A);
  background-size: cover;
}
#gallery-featured .container__card-wrapper .card .img.d {
  background-image: url(https://scontent.fdel1-5.fna.fbcdn.net/v/t1.6435-9/121106321_3113505142089517_7561192207673915817_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=973b4a&_nc_ohc=urkdD5236WEAX_mEezZ&_nc_ht=scontent.fdel1-5.fna&oh=00_AT_Iupffvpamf27l8ROfBxa-q7c6TUUxJQgTx4EMFx_cbg&oe=6341FB50);
  background-size: cover;
}
#gallery-featured .container__card-wrapper .card .img.e {
  background-image: url(https://scontent.fdel1-6.fna.fbcdn.net/v/t1.6435-9/120906710_3113204068786291_197572271129961936_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=973b4a&_nc_ohc=Z-EALoF-J5wAX9mLqt3&_nc_ht=scontent.fdel1-6.fna&oh=00_AT_ELsBODRcz_N8V1RLTEzowuThCvihNnL8g47SPzYn44w&oe=6344C583);
  background-size: cover;
}
#gallery-featured .container__card-wrapper .card .img.f {
  background-image: url(https://scontent.fdel1-6.fna.fbcdn.net/v/t1.6435-9/120960541_3113178768788821_6078047248021023629_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=973b4a&_nc_ohc=KMJ9Ul2FWjsAX9V4_zN&_nc_ht=scontent.fdel1-6.fna&oh=00_AT_C60zvWENnxZyhru9BjCbRbeaxFftnQTx4iyUSuZc-Kw&oe=634186F6);
  background-size: cover;
}
#gallery-featured .container__card-wrapper .card .info {
  top: 0;
  left: 0;
  text-align: center;
  margin: 100px 0 0 0;
  width: 100%;
  z-index: 10;
}
#gallery-featured .container__card-wrapper .card .info h3 {
  line-height: 0.9;
  font-size: 50px;
  letter-spacing: 1.3px;
  font-weight: 500;
  color: #4a4e69;
  font-family: "Slabo 27px", serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 10px;
  left: 15px;
}
#gallery-featured .container__card-wrapper .card .info small {
  line-height: 0.9;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.3px;
  font-weight: 500;
  color: #f0efeb;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 60px;
  left: 17px;
}
#gallery-featured .container__card-wrapper .card .info p {
  line-height: 1;
  font-size: 16px;
  letter-spacing: 1.3px;
  font-weight: 500;
  color: #555b6e;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  position: absolute;
  bottom: 42px;
  left: 17px;
  padding: 0 1em;
  z-index: 20;
}

#gallery-featured .container__card-wrapper .card .info .count {
  color: #EF476F;
  line-height: 0.9;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: absolute;
  top: 450px;
  left: 51px;
  z-index: 77;
}
#gallery-featured .container__card-wrapper .card .info .btn {
  line-height: 0.9;
  letter-spacing: 0.1em;
  font-family: "Zilla Slab", serif;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #309c40;
  position: absolute;
  margin: 0;
  bottom: 20px;
  background-size: 200% auto;
  right: 17px;
  z-index: 33;
  padding: 0.6em 2em;
  border-radius: 16px;
  transition: 0.9s cubic-bezier(0.13, 0.38, 0.45, 0.94);
  background-image: linear-gradient(#444, #333);
  text-align: center;
  color: #ededed;
  margin: 0 1px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.175s ease;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}
#gallery-featured .container__card-wrapper .card .info .btn:hover {
  background-position: right center;
  color: #b3b3b3;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
}
/*  */
#gallery-featured .container__card-wrapper .card .gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(121, 209, 202, 0.329);
  background: linear-gradient(to bottom, rgba(254, 252, 234, 0.03) 40%, rgba(252, 250, 235, 0.03) 9%, #efefef 100%);
  width: 100%;
  height: 100%;
  z-index: 9;
}
#gallery-featured .container__card-wrapper .card .cardlayer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e0f5e3;
  background: linear-gradient(180deg, #FFFFFF 0%, #D3E0FF 100%);
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3), inset 0px 2px 1px 1px white, inset 0px -1px 1px 1px rgba(204, 198, 197, 0.5);
  opacity: 0;
  visibility: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 20;
  transition: 0.9s cubic-bezier(0.13, 0.38, 0.45, 0.94);
}
#gallery-featured .container__card-wrapper .card .cardlayer-overlay__content {
  padding: 2em;
}
#gallery-featured .container__card-wrapper .card .cardlayer-overlay__content h3 {
  line-height: 0.9;
  font-size: 50px;
  letter-spacing: 1.3px;
  font-weight: 500;
  color: #4a4e69;
  font-family: "Slabo 27px", serif;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
}
#gallery-featured .container__card-wrapper .card .cardlayer-overlay__content hr {
  width: 70px;
  height: 3px;
  margin: 3px auto;
  border: 0;
  background: #f0efeb;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
}
#gallery-featured .container__card-wrapper .card .cardlayer-overlay__content p {
  line-height: 1;
  font-size: 16px;
  letter-spacing: 1.3px;
  font-weight: 500;
  color: #555b6e;
  font-family: "Zilla Slab", serif;
  position: absolute;
  padding: 0 1em;
  margin: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 90px;
}
#gallery-featured .container__card-wrapper .card-overlay {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}
#gallery-featured .container__card-wrapper .card-overlay:hover .cardlayer-overlay {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0.9s cubic-bezier(0.13, 0.38, 0.45, 0.94);
}

img {
  max-width: 100%;
  display: block;
}
